@import './source/placehorder.scss';

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(./source/back.jpg);
  background-position: 50% 60%;
  background-repeat: no-repeat;
  object-position: top center;
  object-fit: covert;
  background-size: cover;
}

.content {
  flex: 1 1 auto;
  padding-top: 50px;
}


.flex-row {
  @extend %style-for-card-char;
  @extend %flex-box;

}